<!DOCTYPE HTML>

<html>

  <head>
    <title> Can We Eat Latex? </title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <h1 align="center"> LaTeX </h1>
    <div class="column">
      <p>
	&ldquo;LaTeX is a document preparation system for high-quality typesetting.
	It is most often used for medium-to-large technical or scientific documents
	but it can be used for almost any form of publishing.
      </p>
      <p>
	LaTeX is not a word processor! Instead, LaTeX encourages authors not to
	worry too much about the appearance of their documents but to concentrate 
	on getting the right content.&rdquo;
      </p>
      <b>- LaTeX project site, Introduction</b>
      <h2 align="center"> Introduction </h2>
      <p>
	TeX (pronouned tech), created by Donald E. Knuth, is a program 
	that is designed to typeset text and mathematical formulae.
	LaTeX (pronounced luh-tech) is a kind of dialect of TeX, and is aimed
	to help beginners/authors to format their work in a professional manner.
	Together, the writer plays the role of an author, LaTeX plays the role of
	a book designer, and TeX is the typesetter. It is quite different from
	WYSIWYG (what you see is what you get) word processors like MS Word. 
	You generally cannot see, in real time, what your document will look like as
	you work on it in LaTeX since you have to compile it.
	There are numerous ways to do so - programs like pdflatex and MiKTeX will
	compile your LaTeX file into a PDF, and there are packages/extensions
	in Emacs, Atom, etc. that compile it from within the environment.
      </p>
    </div>
    <br>
    <br>
    <barchart></barchart>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js" charset="utf-8"></script>
  <script src="../static/canweeatlatex.js"></script>

</html>
