<!DOCTYPE HTML>

<html>

  <head>
    <title> Can We Eat Latex? </title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <h1 align="center"> LaTeX </h1>
    <div class="column">
      <p>
	&ldquo;LaTeX is a document preparation system for high-quality typesetting.
	It is most often used for medium-to-large technical or scientific documents
	but it can be used for almost any form of publishing.
      </p>
      <p>
	LaTeX is not a word processor! Instead, LaTeX encourages authors not to
	worry too much about the appearance of their documents but to concentrate 
	on getting the right content.&rdquo;
      </p>
      <b>- LaTeX project site, Introduction</b>
      <h2 align="center"> Introduction </h2>
      <p>
	TeX (pronouned tech), created by Donald E. Knuth, is a program 
	that is designed to typeset text and mathematical formulae.
	LaTeX (pronounced luh-tech) is a kind of dialect of TeX, and is aimed
	to help beginners/authors to format their work in a professional manner.
	Together, the writer plays the role of an author, LaTeX plays the role of
	a book designer, and TeX is the typesetter. It is quite different from
	WYSIWYG (what you see is what you get) word processors like MS Word. 
	You generally cannot see, in real time, what your document will look like as
	you work on it in LaTeX since you have to compile it.
	There are numerous ways to do so - programs like pdflatex and MiKTeX will
	compile your LaTeX file into a PDF, and there are packages/extensions
	in Emacs, Atom, etc. that compile it from within the environment.
      </p>
      <p>
	In addition, LaTeX is considered to be a programming language. Various aspects of LaTeX are very programm-y.
For example, you probably already noticed how \users have a section at the top of their base file.
The &ldquo;\usepackage&rdquo; command essentially functions as import does in Python and Java. Users can also write their own commands/syntax.
      </p>
      <p>
	People who are used to WYSIWYG word processors may question the advantages LATEX, but here are a few...
      </p>
      <ul>
	<li>Professionally designed layouts are available</li>
	<li>Mathematical formulas are simple and intuitive to insert</li>
	<li>Few commands will allow the user to specify the layout of the document.</li>
	<li>Additional packages are available in order to enhance or improve upon basic LATEX.</li>
	<li>Everything ends up appearing very structured and organized.</li>
	<li>Free!</li>
      </ul>
    </div>
    <br>
    <br>
    <barchart></barchart>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js" charset="utf-8"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="../static/canweeatlatex.js"></script>

</html>
