.axis {
    font: 12px arial;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.column{
    margin: auto;
    width: 720px;
    padding-right: 240px;
    position: relative;
}
